# system files
.DS_Store
Thumbs.db

# python stuff
__pycache__/
*.pyc
*.pyo
.env

# jupyter notebook
.ipynb_checkpoints/

# IDE
.vscode/
*.code-workspace

# tmp files
data/*.tmp

# gv files
*.gv
*.gv.pdf

# notebooks
*.ipynb